h1{
    font-size: large;
    font-style: oblique;
    font-display: initial;
    text-align: center;
    font-weight: 300;
    color: black;
}

h2{
    font-size: medium;
    font-family: arial;
}

h3{
    font-size: medium;
    font-family: arial;
}

li{
    font-size: small;
    font-weight: 200;
    font-family: 'lucida Sans';
}